
.enter_card, .enter_token
{
    display: block;
    padding: 0 0 0 100px;
}

.enter_card .control-label,
.control-group  .control-label {
    margin: 0 19px 0 0 !important;
    text-align: right;
    width: 30%;
}

.enter_card .controls,
.control-group .controls {
    float: left !important;
}
